
{% extends 'sistemadmin.html.twig' %}
{% block breadCrumb %}
    {{ parent() }}
    <li>
        <a href="{{ path('pago_index') }}">Pago</a>
    </li>
    <li>
         {% if dailydate != 1%} 
           Resultados de la Búsqueda del día {{dailydate}}
        {% else%} 
            Resultados de la Búsqueda entre los días {{iniciodate}} y {{finaldate}}           
        {% endif %} 
    </li>
{% endblock %}
{% block contenido %}
       {% if pagos != null%}       
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <h3 class="heading">
                         {% if dailydate != 1%} 
                            Informe de Pagos del día {{dailydate}}
                        {% else%} 
                            Informe de Pagos entre los días {{iniciodate}} y {{finaldate}}           
                        {% endif %} 
                    </h3>
                    <div class="col-sm-6 col-md-4">
                        <form action="{{ path('pago_search') }}" method="post" > 
                            <div class="row">
                                <div class="col-sm-3 col-md-6">
                                    <button class="btn btn-default" type="submit">
                                        Informe de Pagos del Dia:
                                    </button>
                                </div>
                                <div class="col-sm-3 col-md-5">
                                    <input type="date" class="form-control" name="dailydate" required="true">  
                                </div>
                                <input class="hidden" id="daily" name="daily" value="day">
                            </div>
                        </form>
                    </div>
                            <vl/>
                    <div class="col-sm-6 col-md-8">
                        <form action="{{ path('pago_search') }}" method="post" > 
                            <div class="row">
                                <div class="col-sm-3 col-md-3">
                                    <button class="btn btn-default" type="submit">
                                        Informe de Pagos. Rango:
                                    </button>
                                </div>
                                <div class="col-sm-3 col-md-3">
                                    <input type="date" class="form-control" name="iniciodate" required="true">  
                                </div>
                              
                                <div class="col-sm-3 col-md-3">
                                    <input type="date" class="form-control" name="finaldate" required="true">  
                                </div>
                                <input class="hidden" id="fechas" name="fechas" value="fechas">
                            </div>
                        </form>
                    </div> 
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12">

                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <table class="table table-bordered table-striped table_vam" id="dt_a">
                        <thead>
                        <tr>
                            <th>Número factura</th>
                            <th>Cliente</th>
                            <th>Fecha pago</th>
                            <th>Fecha cancelación</th>
                            <th>Total</th>
                            <th>A cuenta</th>
                            <th>Tiene deuda</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for pago in pagos %}
                            <tr>
                                <td>{{ pago.serie~ pago.numerofactura }}</td>
                                <td>{{ pago.cliente }}</td>
                                <td>{% if pago.fechapago %}{{ pago.fechapago|date('d/m/Y') }}{% endif %}</td>
                                <td>{% if pago.fechacancelacion %}{{ pago.fechacancelacion|date('d/m/Y') }}{% endif %}</td>
                                <td>{{ pago.totalapagar }}</td>
                                <td>{{ pago.montopagado }}</td>
                                <td>{% if pago.tienedeuda %}Sí{% else %}No{% endif %}</td>
                                <td>
                                    {#<a href="{{ path('pago_edit', { 'id': pago.id }) }}"
                                       class="sepV_a" title="Editar">
                                        <i class="glyphicon glyphicon-pencil"></i>
                                    </a>#}
                                    <a href="{{ path('pago_show', { 'id': pago.id }) }}"
                                       class="sepV_a" title="Ver Detalles">
                                        <i class="glyphicon glyphicon-eye-open"></i>
                                    </a>
                                    {#<a id="choicetwo" data-toggle="modal" data-target="#myModal" title="Eliminar">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </a>#}
                                     <a href="{{ path('pago_delete', { 'id': pago.id }) }}" title="Eliminar">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">                
                {% include 'global/searchpagopaginator.html.twig' %}               
            </div>       
            <div class="row">                
              {#  <div class="col-sm-3 col-md-3">
                    <a class="btn btn-default" href="{{ path('venta_export', {  'dailydate': dailydate, 'iniciodate': iniciodate, 'finaldate': finaldate}) }}">Exportar Informe a Excel</a>
                </div>  #} 
            </div>          
       {% endif %}    

{% endblock %}
