

{% extends 'sistemadmin.html.twig' %}
{% block breadCrumb %}
    {{ parent() }}
    <li>
        <a href="{{ path('rol_index') }}">Roles</a>
    </li>

{% endblock %}
{% block contenido %}

    <div class="row">
        <div class="col-sm-12 col-md-12">
            <h3 class="heading">Lista de roles</h3>
        </div>
    </div>
    <div class="row" >
        <div class="menu-acciones">
            <a class="btn btn-success" href="{{ path('rol_new') }}"><span class="glyphicon glyphicon-file"></span> Nuevo</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <table class="table table-bordered table-responsive table-striped table_vam" id="dt_a">
                <thead>
                <tr>
                    <th>Descripción</th>
                    <th>Activo</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                {% for rol in rols %}
                    <tr>
                        <td>{{ rol.descripcion }}</td>

                        <td>{% if rol.activo %}Yes{% else %}No{% endif %}</td>
                        <td>
                            <a href="{{ path('rol_edit', { 'id': rol.id }) }}"
                               class="sepV_a" title="Editar">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </a>
                            <a href="{{ path('rol_show', { 'id': rol.id }) }}"
                               class="sepV_a" title="Ver Detalles">
                                <i class="glyphicon glyphicon-eye-open"></i>
                            </a>
                            {# <a id="choicetwo" data-toggle="modal" data-target="#myModal" title="Eliminar">
                                 <i class="glyphicon glyphicon-trash"></i>
                             </a>#}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        {% include 'global/paginator.html.twig' %}
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Eliminar Rol</h4>
                </div>
                <div class="modal-body">
                    <div id="confirm_dialog" class="cbox_content">
                        <div class="sepH_c tac"><strong>¿Está seguro de eliminar estos registros?</strong></div>
                        <div class="tac">
                            <a href="http://moguwsolutions.com/monteroplacas/admin/cliente_eliminar.html"
                               class="btn btn-gebo confirm_yes btn-default">Si</a>
                            <a data-dismiss="modal" class="btn confirm_no btn-default">No</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- hide elements-->
    <div class="hide">
        <!-- actions for datatables -->
        <!-- confirmation box -->
        <div id="confirm_dialog" class="cbox_content">
            <div class="sepH_c tac"><strong>¿Está seguro de eliminar estos registros?</strong></div>
            <div class="tac">
                <a href="#" class="btn btn-gebo confirm_yes btn-default">Si</a>
                <a href="#" class="btn confirm_no btn-default">No</a>
            </div>
        </div>

    </div>

{% endblock %}


