{% extends 'sistemadmin.html.twig' %}
{% block breadCrumb %}
    {{ parent() }}
    <li>
        <a href="{{ path('rol_index') }}">Roles</a>
    </li>
    <li>
        Detalles
    </li>

{% endblock %}
{% block contenido %}

    <div class="row">
        <div class="col-sm-12 col-md-12">
            <h3 class="heading">Rol</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12">

            <div class="formSep">
                <div class="row">
                    <div class="col-xs-12">

                        <div class="row">
                            <div class="col-sm-2 col-md-2">
                                Descripción
                            </div>
                            <div class="col-sm-4 col-md-4">
                                {{ rol.descripcion }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 col-md-2">
                                Activo
                            </div>
                            <div class="col-sm-4 col-md-4">
                                {% if rol.activo %}Yes{% else %}No{% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="formSep form-actions">

                <a class="btn btn-default" href="{{ path('rol_index') }}"><span class="glyphicon glyphicon-arrow-left"></span> Volver</a>

                <a class="btn btn-default" href="{{ path('rol_edit', { 'id': rol.id }) }}"><span class="glyphicon glyphicon-pencil"></span> Editar</a>
            </div>
        </div>
    </div>


{% endblock %}
