{% extends 'sistemadmin.html.twig' %}
{% block breadCrumb %}
    {{ parent() }}
    <li>
        <a href="{{ path('tipocambio_index') }}">Tipo de cambio</a>
    </li>
{% endblock %}
{% block contenido %}
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <h3 class="heading">Lista de Tipos de cambio</h3>
        </div>
    </div>
    <div class="row" >
        <div class="menu-acciones">
{#
            <a class="btn btn-success" href="{{ path('tipocambio_new') }}"><span class="glyphicon glyphicon-file"></span> Nuevo</a>
#}
        </div>
    </div>
    {% if tipoCambios != null%}
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <table class="table table-bordered table-striped table_vam" id="dt_a">
                    <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Compra</th>
                        <th>Venta</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for tipoCambio in tipoCambios %}
                        <tr>
                            <td>{% if tipoCambio.fecha %}{{ tipoCambio.fecha|date('Y-m-d') }}{% endif %}</td>
                            <td>{{ tipoCambio.compra }}</td>
                            <td>{{ tipoCambio.venta }}</td>
                            <td>
                                <a href="{{ path('tipocambio_edit', { 'id': tipoCambio.id }) }}"
                                   class="sepV_a" title="Editar">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </a>
                                <a href="{{ path('tipocambio_show', { 'id': tipoCambio.id }) }}"
                                   class="sepV_a" title="Ver Detalles">
                                    <i class="glyphicon glyphicon-eye-open"></i>
                                </a>
                                {#<a id="choicetwo" data-toggle="modal" data-target="#myModal" title="Eliminar">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </a>#}
                                <a href="{{ path('tipocambio_delete', { 'id': tipoCambio.id }) }}" title="Eliminar">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            {% include 'global/paginator.html.twig' %}
        </div>
    {% endif %}

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Eliminar Pago</h4>
                </div>
                <div class="modal-body">
                    <div id="confirm_dialog" class="cbox_content">
                        <div class="sepH_c tac"><strong>¿Está seguro de eliminar estos registros?</strong></div>
                        <div class="tac">
                            <a href="http://moguwsolutions.com/monteroplacas/admin/Venta_eliminar.html"
                               class="btn btn-gebo confirm_yes btn-default">Si</a>
                            <a data-dismiss="modal" class="btn confirm_no btn-default">No</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- hide elements-->
    <div class="hide">
        <!-- actions for datatables -->
        <!-- confirmation box -->
        <div id="confirm_dialog" class="cbox_content">
            <div class="sepH_c tac"><strong>¿Está seguro de eliminar estos registros?</strong></div>
            <div class="tac">
                <a href="#" class="btn btn-gebo confirm_yes btn-default">Si</a>
                <a href="#" class="btn confirm_no btn-default">No</a>
            </div>
        </div>

    </div>

{% endblock %}
