{% extends 'sistemadmin.html.twig' %}
{% block breadCrumb %}
    {{ parent() }}
    <li>
        <a href="{{ path('vendedor_index') }}">Vendedor</a>
    </li>
    <li>
        Detalles
    </li>
{% endblock %}
{% block contenido %}
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <h3 class="heading">Vendedor</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12">

                    <div class="formSep">
                        <div class="row">
                            <div class="col-xs-12">

                                
                                <div class="row">
                                    <div class="col-sm-2 col-md-2">
                                        DNI
                                    </div>
                                    <div class="col-sm-4 col-md-4">
                                        {{ vendedor.dni }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2 col-md-2">
                                        Nombre
                                    </div>
                                    <div class="col-sm-4 col-md-4">
                                        {{ vendedor.nombre }}
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-sm-2 col-md-2">
                                        Dirección
                                    </div>
                                    <div class="col-sm-4 col-md-4">
                                        {{ vendedor.direccion }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2 col-md-2">
                                        Teléfono
                                    </div>
                                    <div class="col-sm-4 col-md-4">
                                        {{ vendedor.telefono }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2 col-md-2">
                                        Celular
                                    </div>
                                    <div class="col-sm-4 col-md-4">
                                        {{ vendedor.celular }}
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-sm-2 col-md-2">
                                        Email
                                    </div>
                                    <div class="col-sm-4 col-md-4">
                                        {{ vendedor.email }}
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-sm-2 col-md-2">
                                        Foto
                                    </div>
                                    <div class="col-sm-4 col-md-4">
                                        {{ vendedor.imagename }}                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="formSep form-actions">

                        <a class="btn btn-default" href="{{ path('vendedor_index') }}"><span class="glyphicon glyphicon-arrow-left"></span> Volver</a>

                        <a class="btn btn-default" href="{{ path('vendedor_edit', { 'id': vendedor.id }) }}"><span class="glyphicon glyphicon-pencil"></span> Editar</a>
                    </div>
                </div>
            </div>

{% endblock %}
