
{% extends '::inventarioadmin.html.twig' %}
{% block title %}Inventario | Motivo movimiento{% endblock %}
{% block title_section %}
    Inventario
    <small>Sección</small>
{% endblock %}
{% block seccion_activo %}class="active"{% endblock %}
{% block tree_alm %}active{% endblock %}
{% block breadcrumb %}
    <li class="">Inventario</li>
    <li class="active">Sección</li>
{% endblock %}
{% block main_content %}
    <div class="box">
        <br>
        <div class="box-header">
            <h3 class="box-title">Lista de secciones</h3>
            <div class="pull-right">
                <a href="{{ path('seccion_new') }}" title="Adicionar" id="btn_adicionar"
                   class="btn  btn-primary">
                    <span class="glyphicon glyphicon-file "></span> Adicionar</a>
            </div>
        </div><!-- /.box-header -->
        <div class="box-body">
            <table class="table table-bordered table-striped todasTablas">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Almacén</th>
                    <th width="100">Acciones</th>
                </tr>
                </thead>
                <tbody>
                {% for dat in seccions %}
                    <tr id="{{ dat.id }}">
                        <td>{{ dat.nombre }}</td>
                        <td>{{ dat.almacen }}</td>
                        <td align="center">
                            <a title="Mostrar detalle" class="text-black" href="{{ path('seccion_show', { 'id': dat.id }) }}"><span
                                        class="glyphicon glyphicon-eye-open"></span></a>&emsp;
                            <a title="Editar elemento" class="text-blue" href="{{ path('seccion_edit', { 'id': dat.id }) }}"><span
                                        class="glyphicon glyphicon-pencil"></span></a>
                            &emsp;
                           <a title="Eliminar elemento"  href="#" class="text-red btn_eliminar"
                               data-url="{{ path('motivo_delete') }}"><span
                                        class="glyphicon glyphicon-trash"></span></a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}

